---
import type { IInterviewLog } from '../../scripts';
import InterviewSpeakerless from './InterviewSpeakerless.astro';
import InterviewSpokenLine from './InterviewSpokenLine.astro';

interface Props {
    item: IInterviewLog
}
const { item } = Astro.props;
---
<table class="report interview-log" id={item.id}>
    <tbody>
        <tr>
            <th>INTERVIEW LOG {item.objectNumber ?? <r>????</r>} {item.instance}</th>
        </tr>
        <tr class="interview-body">
            <td>
                <b>Interviewer:</b> {item.interviewerTitle ? (item.interviewerTitle+" ") : ""}{item.interviewerName ?? <r>*****</r>}<br>
                <b>Subject:</b> {item.subjectName ?? <r>*****</r>}<br>
                <b>Topic:</b> {item.topic ?? <r>*****</r>}
                <hr>
                {item.interview.body.map(line => {
                    if (line.speaker != undefined)
                        return <InterviewSpokenLine member={item.interview.members[line.speaker]} content={line.content} />
                    else
                        return <InterviewSpeakerless content={line.content} />
                })}
            </td>
        </tr>
        <tr>
            <th>INTERVIEWER NOTES</th>
        </tr>
        <tr>
            <td class="notepad" style="border:none" set:html={item.notes??"Nothing to note"}></td>
        </tr>
    </tbody>
</table>
