---
import InterviewLog from "../components/reports/InterviewLog.astro";
import InterviewSpeakerless from "../components/reports/InterviewSpeakerless.astro";
import InterviewSpokenLine from "../components/reports/InterviewSpokenLine.astro";
import Redacted from "../components/typography/Redacted.astro";
import Comment from "../components/typography/Comment.astro";
import CommentHeading from "../components/CommentHeading.astro";
import { IInterviewLog } from "../scripts";
import AnchorTooltip from "../components/tooltip-types/AnchorTooltip.astro";

const interviewer = {name: "Interviewer", color: "#840"};
const subject = {name: "Subject", color: "#900"};

const item: IInterviewLog = {
    id: "interview-log-000-1",
    objectNumber: "000",
    instance: "1"
};
---
<InterviewLog item={item}>
    <Fragment slot="interviewerName">Jr RSR <Redacted>*******</Redacted></Fragment>
    <Fragment slot="subjectName">OCP-000</Fragment>
    <Fragment slot="topic">Reason for hostility</Fragment>
    <Fragment slot="body">
        <InterviewSpokenLine member={interviewer}>Why are you hostile?</InterviewSpokenLine>
        <InterviewSpeakerless>various growls and vocalizations of grumpiness</InterviewSpeakerless>
        <InterviewSpokenLine member={interviewer}>Please calm down. There is no need for hostility.</InterviewSpokenLine>
        <InterviewSpokenLine member={subject}><Redacted>I'm going to eat your lunch money and then fold your laundry with my baby hands</Redacted></InterviewSpokenLine>
        <InterviewSpeakerless>interviewer is silent</InterviewSpeakerless>
        <InterviewSpokenLine member={interviewer}>I think we're done here.</InterviewSpokenLine>
    </Fragment>
    <Fragment slot="notes">
        I'm pretending to write something down
        <br><br>
        blah blah blah blah
        <br><br>
        Are they still watching?
        <br><br>
        This <Redacted>thing</Redacted> freaks me out. I don't wanna have to work with it anymore.
        I'm gonna say in my log that it ate my notes. Maybe then I won't have to go near this thing anymore...
    </Fragment>
</InterviewLog>
<Comment>
    <p>
        <CommentHeading user="drLastname">Commented on "I'm gonna say in my log that..."</CommentHeading>
        <AnchorTooltip href="#interview-log-000-1">@jrRsr<Redacted>Xxxxxxxx</Redacted></AnchorTooltip>, care to explain?
    </p>
    <p>
        <CommentHeading user="jrRsrBlank">Replied</CommentHeading>
        Oh... Oh you guys are able to see that...
    </p>
</Comment>