---
import Tooltip from './tooltip-types/Tooltip.astro';
import type { IObjectEntry } from '../scripts/index';
import Redacted from './Redacted.astro';
import Blurred from './Blurred.astro';
interface Props {
    anomalyInfo: IObjectEntry
}
const { anomalyInfo } = Astro.props;
const objectTitleVisibility = (if_normal: any, is_wip: any, if_censored: any) => {
    switch (anomalyInfo.vis) {
        case "wip": return is_wip;
        case "censor": return if_censored;
        default: return if_normal;
    }
}
---
{(anomalyInfo.vis!="hide") && (<li><a href={`./objects/${anomalyInfo.code}.html`} set:html={anomalyInfo.name}></a> <span aria-hidden="true">-</span> {
    objectTitleVisibility(
        anomalyInfo.tagline,
        <Blurred>{anomalyInfo.tagline}</Blurred>,
        <Tooltip category="Anomalous Object" name={anomalyInfo.name} tagline="Item removed for being disturbing"><Redacted>{anomalyInfo.tagline}</Redacted></Tooltip>)
}</li>)}
