---
import Tooltip from './Tooltip.astro';
import type { IObjectEntry } from '../scripts/index';
interface Props {
    anomalyInfo: IObjectEntry
}
const { anomalyInfo } = Astro.props;
const objectTitleVisibility = (if_normal: any, is_wip: any, if_censored: any) => {
    switch (anomalyInfo.vis) {
        case "wip": return is_wip;
        case "censor": return if_censored;
        default: return if_normal;
    }
}
---
{(anomalyInfo.vis!="hide")&&(<li><a href={anomalyInfo.path} set:html={anomalyInfo.name}></a>&#9;- {
    objectTitleVisibility(
        anomalyInfo.title,
        <r type="secret">{anomalyInfo.title}</r>,
        <Tooltip category="Anomalous Object" name={anomalyInfo.name} tagline="Item removed for being disturbing"><r>{anomalyInfo.title}</r></Tooltip>)
}</li>)}
