---
import TooltipNoteSingle from './TooltipNoteSingle.astro';
import TooltipNoteMulti from './TooltipNoteMulti.astro';

interface Props {
    category: string;
    name: string;
    tagline: string;
    path?: string;
    linkText?: string;
    notes?: string|string[]
}
const { category, name, tagline, path, linkText, notes } = Astro.props;
---
<span class="tooltip">
    <slot />
    <span class="tooltiptext">
        <div class="tooltip-bubble">
            <div class="comment-name">{category}</div>
            <h3 set:html={name}></h3>
            {tagline}
            {(!!linkText)??(<a href={path}>{linkText}</a>)}
        </div>
        {
            !!notes &&(Array.isArray(notes)
                ? <TooltipNoteMulti notes={notes} />
                : <TooltipNoteSingle note={notes} />)
        }
    </span>
</span>
