---
import ArticleLayout from "./ArticleLayout.astro";
import type { IObjectEntry } from "../scripts/index";
interface Props {
  url: string;
  ocpNumber: string;
  /**
   * In case ocpNumber is unsafe
   */
  ocpId?: string;
  ocpName: string;
  containmentClass: string;
  containmentClassPrev?: string;
}
const { url, ocpNumber, ocpId = "ocp-"+ocpNumber, ocpName, containmentClass, containmentClassPrev } = Astro.props;
import objects from "../../public/data/objects.json";
import ContainmentClass from "../components/tooltip-types/ContainmentClass.astro";
const objectList: IObjectEntry[] = objects;
const index: number = objectList.findIndex((element) => element.id == ocpId);
const prev: IObjectEntry = objectList.at(index - 1) ?? objectList[0];
const next: IObjectEntry = objectList.at(index + 1) ?? objectList[0];
---
<ArticleLayout url={url} title={"OCP-"+ocpNumber} desc={ocpName+" ("+containmentClass+")"}>
  <div style="display: flex; flex-flow: row nowrap ">
    <b>{ocpNumber}:&nbsp;</b>
    {ocpName}
    (<ContainmentClass classId={containmentClass.toLowerCase()}>{containmentClass}</ContainmentClass>)
  </div>

  <div class="sticky-sticker">
    <slot />
  </div>

  <footer>
    <section>
      &laquo; <a href={`./objects/${prev.code}.html`} set:html={prev.name}></a> prev &bull; next <a href={`./objects/${next.code}.html`} set:html={next.name}></a> &raquo;
    </section>
  </footer>
</ArticleLayout>
