---
import ContainmentClass from "../components/tooltip-types/ContainmentClass.astro";
import ArticleLayout from "./ArticleLayout.astro";
import type { IObjectEntry } from "../scripts/index";
import objects from "../../public/data/objects.json";
interface ObjectMap {
  [key: string]: IObjectEntry;
};
const objectList: ObjectMap = objects;

interface Props {
  id: string;
}
const { id } = Astro.props;
const ocp: IObjectEntry = objectList[id];
const keys = Object.keys(objectList);
const index: number = keys.indexOf(id);
const prev: IObjectEntry = objectList[(index - 1) >= 0          ? index - 1 : 0];
const next: IObjectEntry = objectList[(index + 1) < keys.length ? index + 1 : 0];

const toTitleCase = (str: string) => str.replace(/\w\S*/g, (txt: string) => txt.charAt(0).toUpperCase() + txt.substring(1).toLowerCase());
const currClass: string = ocp.classHistory.at(-1)!;
// const prevClass: string|undefined = (ocp.classHistory.length > 1 ? ocp.classHistory.at(-2) : undefined);
---
<ArticleLayout title={`OCP-${ocp.code}: ${ocp.name}`} desc={`${ocp.name} (${currClass})`}>
  <Fragment slot="outline"><slot name="outline" /></Fragment>

  <div style="display: flex; flex-flow: row nowrap ">
    <b>{ocp.code}:&nbsp;</b>
    {ocp.name}
    (<ContainmentClass id={currClass}>{toTitleCase(currClass)}</ContainmentClass>)
    <!-- {prevClass && <Fragment>(previously&nbsp;<ContainmentClass id={prevClass.toLowerCase()}>{toTitleCase(prevClass)}</ContainmentClass>)</Fragment>} -->
  </div>

  <div class="sticky-sticker">
    <slot />
  </div>

  <Fragment slot="footer">
    <section>
      &laquo; <a href={`./objects/${prev.code}.html`} set:html={prev.name}></a> prev &bull; next <a href={`./objects/${next.code}.html`} set:html={next.name}></a> &raquo;
    </section>
  </Fragment>
</ArticleLayout>
